<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{serverData.data.title}}</title>
	{% include "templates/head.njk" %}
</head>
<body class="preview">
	{% include "templates/header.njk" %}
	{% include "templates/main.njk" %}
	{% include "templates/utils.njk" %}
	{% include "templates/svg-icons.njk" %}
	

	{# {% include "README.njk" %} #}

	<!-- Footer Scripts -->
	{% include "templates/custom-scripts.njk" %}
</body>
</html>
