<header class="header">
	<nav>
		<ul class="navigation navigation-left">
			<li class="navigation__item"><a href="test">records</a></li>
			<li class="navigation__item"><a href="test">Join discord</a></li>
		</ul>


			<ul class="navigation navigation-center">
				<li class="navigation__item navigation__item-active">
					<span class="box__decor"></span>
					<a href="test">experience</a>
				</li>
			</ul>
			

		<ul class="navigation navigation-right">
			<li class="navigation__item"><a href="test">drops</a></li>
			<li class="navigation__item"><a href="test">Products</a></li>
			<li class="navigation__item"><a href="test">Contact</a></li>
		</ul>
	</nav>
</header>