<section class="main">
    <div class="main__container">

        <div>
            <p class="main__subtitle">NFT</p>
            <h1 class="main__title">THE DROPLET</h1>
            <h2 class="main__descr">Will be announced Soon</h2>
        </div>
        <button class="main__btn">JOIN WAITLIST</button>

        <div class="main__top-bar">
            <div class="top-box"></div>
            <img src="/images/icon/panel_top.png" alt="">
        </div>

        <div class="main__logo">
            <img src="/images/logo.png" alt="">
        </div>

        <div class="main__bottom-bar">
            <div class="bottom-box"></div>
            <img src="/images/icon/panel_bottom.png" alt="">
        </div>

        <div class="main__panel-controls">
            <button class="arrow-left">
                <img src="/images/icon/arrow_left.png" alt="arrow-left">
            </button>
            <button class="center-btn">
                <img src="/images/icon/square.png" alt="arrow-left">
            </button>
            <button class="arrow-right">
                <img src="/images/icon/arrow_right.png" alt="arrow-left">
            </button>
        </div>

    </div>
</section>